.barracss {
    width: 25%; 
    height: 20px; 
    background-color: #ddd; 
    border-radius: 10px;
    overflow: hidden; 
    position: relative;
    position: absolute;
    left: 51%;
    top: 91.8%;
    transform: translateX(-50%);
  }
  
  .progresocss {
    width: 0%; 
    height: 100%; 
    background-image: linear-gradient(to right, #111cbb, #1e6fa5); 
    animation: animacionProgreso 5s linear forwards; /* Termina en el 100% */
  }
  
  @keyframes animacionProgreso3 {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }

  .progreso-3 {
    animation: animacionProgreso3 5s forwards; 
  }

  .barra {
    width: 25%; 
    height: 20px; 
    background-color: #ddd; 
    border-radius: 10px;
    overflow: hidden; 
    position: relative;
    position: absolute;
    left: 51%;
    top: 63.9%;
    transform: translateX(-50%);
  }
  
  .progreso {
    width: 0%; 
    height: 100%; 
    background-image: linear-gradient(to right, #3a1675, #5c4894); 
    animation: animacionProgreso 5s linear forwards; 
  }
  
  @keyframes animacionProgreso1 {
    0% {
      width: 0%;
    }
    100% {
      width: 55%;
    }
  }
  
  .progreso-1 {
    animation: animacionProgreso1 5s forwards; /* Animación para la primera barra */
  }
  
  .barraH {
    width: 25%; 
    height: 20px; 
    background-color: #ddd; 
    border-radius: 10px;
    overflow: hidden; 
    position: relative;
    position: absolute;
    left: 51%;
    top: 77.8%;
    transform: translateX(-50%);
  }
  
  .progresoH {
    width: 0%; 
    height: 100%; 
    background-image: linear-gradient(to right, #a34507, #b94d22); 
    animation: animacionProgreso 5s linear forwards; /* Termina en el 100% */
  }
  
  @keyframes animacionProgreso2 {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }

  .progreso-2 {
    animation: animacionProgreso2 5s forwards; /* Animación para la segunda barra */
  }