.c{
    width: 48px;
    position: absolute;
    left: 35%;
    top: 61%;
    transform: translateX(-50%);
}

.h{
    width: 60px;
    position: absolute;
    left: 35%;
    top: 74%;
    transform: translateX(-50%);
}

.css{
    width: 60px;
    position: absolute;
    left: 35%;
    top: 88%;
    transform: translateX(-50%);
}

.h4_habilidades{
    text-align: center;
    color: white;
   margin-top: 40px;
   font-size: 20px; 
}

